<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data</title>
</head>
<body>
    <h1> name <%=Name%></h1>
    <h1> Department is <%=Department%></h1>
    <h1> BasicSalary is<%=BasicSalary%></h1>
    <h1> gende is <%=gender%></h1>
    <h1> startYear is<%=startYear%></h1>
    
</body>
</html>